:root {
  --title-color: #4d533c;
  --text-color: #21384299;
  --link-color: #d4d6d4;
  --white-color: #ffffff;
  --accent-color: #ffd723;
}
.container {
  width: 1141px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 3px solid red;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0px;
  color: var(--text-color);
}
.header {
  display: flex;
  justify-content: space-between;
  top: 24px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.menu {
  border: none;
  background: none;
}
.project-item1 {
  width: 1306px;
  padding-left: 831px;
  margin: 0 auto;
  background-image: url(../images/project-img1.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 73px;
  position: relative;
  margin-bottom: 165px;
}
.project-item2 {
  width: 1478px;
  padding-right: 793px;
  margin: 0 auto;
  background-image: url(../images/project-img2.png);
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 73px;
  padding-left: 172px;
  position: relative;
  margin-bottom: 135px;
}
.project-item3 {
  width: 1306px;
  padding-left: 831px;
  margin: 0 auto;
  background-image: url(../images/project-img3.png);
  background-position: left;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 73px;
  position: relative;
}
.project-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0px;
  color: var(--title-color);
  margin-bottom: 24px;
}
.project-inf {
  color: var(--text-color);
  margin-bottom: 90px;
  width: 421px;
}
.project-link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--link-color);
}
.project-all {
  display: flex;
  gap: 133px;
  width: 976px;
  margin: 0 auto;
  margin-bottom: 110px;
  margin-top: 150px;
}
.project-title {
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  width: 325px;
}
.project-text {
  width: 518px;
}
.project-coment1 {
  width: 453px;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: 50px 50px 100px 0px #00000025;
  padding: 30px 33px 30px 30px;
  position: absolute;
  left: 322px;
  top: 323px;
}
.project-coment2 {
  width: 453px;
  border-radius: 8px;
  background-color: var(--white-color);
  box-shadow: 50px 50px 100px 0px #00000025;
  padding: 30px 33px 30px 30px;
  position: absolute;
  right: 322px;
  top: 323px;
}
.project-coment-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 24px;
  color: var(--title-color);
}
.project-coment-user {
  display: flex;
  gap: 14px;
}
.project-user-img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  box-shadow: 20px 25px 43px 0px #0000002e;
}
.project-user-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--title-color);
  margin-bottom: 4px;
}
.project-user-profession {
  color: #152934;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
}
.project{
  margin-bottom: 150px;
}
.hero {
  background-image: url(../images/backround.png);
  padding-bottom: 210px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 188px;
}
.hero-pretitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--white-color);
  margin-bottom: 22px;
}
.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.23;
  letter-spacing: 0px;
  color: var(--white-color);
  width: 616px;
  margin-bottom: 24px;
}
.hero-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0px;
  color: var(--white-color);
  width: 581px;
  margin-bottom: 45px;
}
.hero-link {
  font-family: "Poppins", sans-serif;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}
.client {
  background-color: var(--white-color);
  padding: 60px 166px 54px 65px;
  box-shadow: 50px 50px 100px 0px #00000025;
  width: 1275px;
  position: absolute;
  top: 708px;
  right: 0;
}
.client-list {
  display: flex;
  gap: 66px;
}
.about-pretitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #4d533ce5;
  margin-bottom: 29px;
}
.about-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.28;
  letter-spacing: 0px;
  color: var(--title-color);
  margin-bottom: 35px;
}
.about-title span {
  background-color: #ffd7231a;
}
.about-inf {
  width: 475px;
  margin-top: 244px;
}
.about-text {
  margin-bottom: 42px;
}
.about-link {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--link-color);
}
.comment {
  width: 474px;
  background-color: var(--white-color);
  padding: 244px 8px 60px 40px;
  box-shadow: 0px 100px 100px 0px #00000025;
}
.about {
  display: flex;
  gap: 160px;
  padding-bottom: 150px;
  border-bottom: 1px solid #21384218;
}
.comment-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 1.6;
  letter-spacing: 0px;
  color: var(--title-color);
  margin-bottom: 50px;
}
.user-img {
  box-shadow: 20px 25px 43px 0px #0000002e;
  border-radius: 50%;
  width: 90px;
}
.comment-user {
  display: flex;
  gap: 30px;
}
.user-name {
  font-family: "Poppins", sans-serif;
  color: var(--title-color);
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-top: 14px;
  margin-bottom: 6px;
}
.user-profession {
  color: #152934;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
}
